<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="treasurerApp" ng-cloak layout="column">
<md-toolbar>
    Toolbar
</md-toolbar>
<div flex layout="row">
    <md-sidenav flex="15" md-is-locked-open="true" class="md-whiteframe-z1">
        <md-content>
            Sidebar
        </md-content>
    </md-sidenav>
    <div layout="column" flex>
        Content
    </div>
</div>
</body>
{% load staticfiles %}
<script src="{% static 'treasurer/bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-aria/angular-aria.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'treasurer/app/treasurer.js' %}"></script>

<link rel="stylesheet" href="{% static 'treasurer/bower_components/angular-material/angular-material.min.css' %}">
</html>
