<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Henchman - Finances</title>
</head>
{% verbatim %}
<body ng-app="treasurerApp" ng-controller="BodyCtrl" ng-cloak layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Henchman</span>
            </h2>
            <span flex></span>

            <div ng-hide="user">
                <md-button aria-label="Login" ng-click="showLoginDialog($event)">
                    login
                </md-button>
                <md-button aria-label="Register" ng-click="showLoginDialog($event, true)">
                    register
                </md-button>
            </div>
            <div ng-show="user">
                <md-button aria-label="User {{ user.email }}" class="no-text-transform">
                    {{ user.email }}
                </md-button>
                <md-button aria-label="Logout" ng-click="logout()" class="icon-button">
                    <md-icon>exit_to_app</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <div class="container" layout="row" flex>
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp" ng-show="user">
            <md-list>
                <md-subheader class="md-no-sticky">
                    <span>Accounts</span>
                    <span>({{ accounts | filter : positiveBalance | sum : 'total' | number : 2 }}, </span>
                    <span ng-class="{negative: totalDebt < 0}">{{ totalDebt | number : 2 }}</span>
                    )
                </md-subheader>
                <md-list-item ng-repeat="account in accounts">
                    <md-button ng-click="modelDialog.show($event, {model: 'treasurer.Account'}, account.id)">
                        <span class="align-left">{{ account.name }}</span>
                        <span class="align-right" ng-class="{negative: account.total < account.limit}">
                            {{ account.total | number : 2 }}<span>{{ account.currency || '&#8381;'}}</span>
                        </span>
                        <md-tooltip md-direction="right"
                                    md-delay="300"
                                    ng-show="account.total < account.limit">
                            {{ account.total - account.limit | number : 2}}
                        </md-tooltip>
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="modelDialog.show($event, {model: 'treasurer.Account'})">
                        <md-icon>add</md-icon>
                        new
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content id="content" layout="row" flex>
            <div ng-view flex></div>
        </md-content>
    </div>
</body>
{% endverbatim %}
{% load staticfiles %}

<script src="{% static 'treasurer/bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-google-chart/ng-google-chart.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-aria/angular-aria.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-material-data-table/dist/md-data-table.min.js' %}"></script>

<script src="{% static 'treasurer/utils/utils.js' %}"></script>

<script src="{% static 'treasurer/auto_models/auto_models.js' %}"></script>
<script src="{% static 'treasurer/auto_models/model_form.js' %}"></script>
<script src="{% static 'treasurer/auto_models/model_form_field.js' %}"></script>
<script src="{% static 'treasurer/auto_models/model_dialog.js' %}"></script>

<script src="{% static 'treasurer/app/treasurer.js' %}"></script>
<script src="{% static 'treasurer/app/states/main_page/main_page.js' %}"></script>
<script src="{% static 'treasurer/app/states/body/body.js' %}"></script>
<script src="{% static 'treasurer/app/states/chart/chart_service.js' %}"></script>
<script src="{% static 'treasurer/app/states/chart/chart.js' %}"></script>
<script src="{% static 'treasurer/app/states/settings/settings.js' %}"></script>
<script src="{% static 'treasurer/app/states/charts_tab/charts_tab.js' %}"></script>
<script src="{% static 'treasurer/app/states/month_chart/month_chart.js' %}"></script>

<script src="{% static 'authentication/app/authentication.js' %}"></script>
<script src="{% static 'authentication/app/states/login_dialog/login_dialog.js' %}"></script>
<script src="{% static 'authentication/app/services/authorization_service.js' %}"></script>
<script src="{% static 'authentication/app/directives/equals.js' %}"></script>

<link rel="stylesheet" href="{% static 'treasurer/bower_components/angular-material-data-table/dist/md-data-table.min.css' %}">
<link rel="stylesheet" href="{% static 'treasurer/bower_components/angular-material/angular-material.min.css' %}">
<link rel="stylesheet" href="{% static 'treasurer/css/base.css' %}">
<link rel="stylesheet" href="{% static 'treasurer/css/font.css' %}">
</html>
