<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="treasurerApp" ng-cloak layout="column">
<md-toolbar>
    <h1>Henchman</h1>
</md-toolbar>
<div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
        <md-list>
            <md-list-item>
                <md-button>
                    <md-icon>account_balance_wallet</md-icon>
                    Управление финансами
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content id="content" flex>
        Content
    </md-content>
</div>
</body>
{% load staticfiles %}
<script src="{% static 'treasurer/bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-aria/angular-aria.min.js' %}"></script>
<script src="{% static 'treasurer/bower_components/angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'treasurer/app/treasurer.js' %}"></script>

<link rel="stylesheet" href="{% static 'treasurer/bower_components/angular-material/angular-material.min.css' %}">
<link rel="stylesheet" href="{% static 'treasurer/css/base.css' %}">
<link rel="stylesheet" href="{% static 'treasurer/css/font.css' %}">
</html>
