html, body {
    font: 16px/24px "PT Serif", sans-serif;
    height: 100%;
    outline: none;
}

a,
a:hover {
    font: inherit;
    color: inherit;
    outline: none;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#header div.group div {
    width: 32%;
    /*border: 1px solid #05AFCB;*/
}

#header div.user a {
    text-decoration: none;
    outline: none;
}

#header div.filler {
    float: left;
}

#header button.action-button {
    position: relative;
    bottom: 10px;
}

button.action-button {
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    background-clip: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

button.action-button:hover {
    color: rgba(0, 0, 0, 0.5);
}

#header div.blog-title {
    top: 50%;
    margin: 0 auto;
    text-align: center;
}

#header div.blog-title a,
#header div.blog-title a:hover {
    color: inherit;
    text-decoration: none;
    outline: none;
}

#header div.user {
    position: absolute;
    height: 70px;
    right: 0;
    top: 50%;
    margin-top: -20px;
    float: right;
    text-align: right;
    padding-right: 25px;
}

#header div.user img {
    max-height: 35px;
    border-radius: 50%;
}

#body {
    margin-top: 120px;
    margin-bottom: 60px;
}

div.post-container {
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

div.post-container div.post,
div.post-container div.comments {
    min-height: 360px;
    max-height: 360px;
    height: inherit;
    padding: 10px;
    overflow-y: hidden;
}

div.post-container div.post {
    float: left;
    width: 55%;
    margin-left: 25px;
    border-left: 2px solid rgba(252, 83, 130, 0.7);
}

div.post-container div.post {
}

div.post-container div.comments {
    margin-right: 25px;
    float: right;
    width: 35%;
    /*background-color: darkcyan;*/
}
div.post-container div.post a {
    text-decoration: none;
}

div.post-container div.post .title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

div.post-container div.post .edit-post-link {
    color: rgba(0, 0, 0, 0.4);
}

div.post-container div.post .post-author {
    opacity: 0.5;
    font-size: 13px;
}

div.post-container div.post p {
    margin: 8px 0;
}

div.post-container:last-child hr {
    display: none;
}

div.post-container hr {
    width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
}

div.comments div.comment {
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    border-left: 1px solid;
    padding: 5px;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
    word-break: break-all;
}

div.comments div.comment p {
    margin: 0;
}

div.comments div.comment div.comment-body {
    /*position: relative;*/
    /*top: 0;*/
    display: inline-block;
    /*border: 1px solid #FC5382;*/
    overflow: hidden;
    width: 80%;
}

div.comments div.comment div.comment-user-avatar {
    width: 15%;
    margin-right: 15px;
    position: relative;
    /*margin-top: 5px;*/
    float: left;
    display: inline-block;
    /*border: 1px solid #02CCBA;*/
}

div.comments div.comment span.comment-user-name {
    color: rgba(0, 0, 0, 0.3);
}

div.comments div.comment-user-avatar img {
    border-radius: 50%;
    height: 60px;
}


div.post-view {
    width: 50%;
    margin: 0 auto;
}

div.post-view div.comments {
    margin-top: 50px;
}

div.post-view div.comments div.group {
    margin-bottom: 20px;
    border-left: 1px solid;
}

div.post-view div.comments span {
    color: rgba(0, 0, 0, 0.4);
}

div.post-view div.comments {
    overflow: hidden;
    word-break: break-all;
}

div.post-view div.comments div.group div {
    display: inline-block;
}

div.post-view div.comments div.group div p {
    margin: 0;
}

div.post-view div.comments div.group div.comment-user-avatar {
    float: left;
    width: 10%;
}

div.post-view div.comments div.group div.comment-body {
    width: 89%;
}

div.title {
    margin-bottom: 20px;
}

div.post-view div.title input {
    color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border: 0;
    width: 100%;
    font-family: inherit;
    font-size: 30px;
}

div.post-view div.title input:focus {
    outline: none;
}

div.post-view textarea {
    font-family: inherit;
    font-size: 20px;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    height: 400px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    resize: none;
}

div.post-view textarea.comment {
    margin-top: 25px;
    height: 200px;
}


div.post-view div.submit {
    text-align: right;
    margin-top: 10px;
}
