<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}

    <meta charset="UTF-8">
    <title>
        {% block title %}
            Blog
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'apps_router/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
<div id="header">
    <div class="group">
        <div class="filler"></div>
        <div class="user">
            <img src="{% get_media_prefix %}{{ view.request.user.avatar }}">
            <a href="{% url 'write_post' %}"><button class="action-button">Write</button></a>
        </div>
        <div class="blog-title">
            <a href="{% url 'blog_index' %}">
                <h1>
                    Our Secret Blog
                </h1>
            </a>
        </div>
    </div>
</div>

<div id="body">
    {% block body %}
    {% endblock %}
</div>
</body>
{% block static %}
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock %}
</html>
