{% extends 'blog/base.html' %}

{% block body %}
{% for post in posts %}
    <div class="post-container">
        <div class="group">
            <div class="post">
                <a href="{% url 'view_post' post.pk %}" class="title">
                    <h2>
                        {{ post.title }}
                    </h2>
                </a>
                <span class="post-author">
                        {{ post.user }}
                        {{ post.created | date }}
                    </span>
                <div>
                    {{ post.rendered_body | safe }}
                </div>
            </div>
            <div class="comments">
            </div>
        </div>
        <hr>
    </div>
{% endfor %}
{% endblock body %}
