html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.avatar {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.icon-button {
    min-height: 0;
    min-width: 0;
    margin: 0;
}

.no-text-transform {
    text-transform: none;
}

.account {
    margin-top: -30px;
    display: inline-block;
    width: 200px;
    overflow-x: hidden;
    height: 110px;
}

.account-new {
    width: auto;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
    margin-top: -110px;
    padding-top: 40px;
}

.account-new:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

md-card.account-new:active {
    background-color: rgba(0, 0, 0, 0.2);
}

div.statistic {
    flex-grow: 4;
}
