html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.avatar {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.icon-button {
    min-height: 0;
    min-width: 0;
    margin: 0;
}

.no-text-transform {
    text-transform: none;
}

.account-card {
    cursor: pointer;
    margin-top: -30px;
    display: inline-block;
    width: 200px;
    overflow: hidden;
    height: 110px;
}

.transaction-row {
    cursor: pointer;
}

.transaction-card md-card-title-media {
    text-align: right;
}

.account-new:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

md-card.account-new:active {
    background-color: rgba(0, 0, 0, 0.2);
}

div.statistic {
    flex-grow: 4;
}

md-dialog form div md-input-container {
    margin-left: 10px;
}

model-form-field, .model-form-field, .model-form-field model-form-field md-input-container {
    width: 100%;
}

.md-datepicker-button {
    margin-left: -5px !important;
    padding-left: 0px !important;
}

model-form-field md-input-container md-datepicker div {
    width: 75% !important;
}

.dim {
    color: #787D84;
}

md-dialog model-form {
    margin-right: 15px;
}

.fab-fixed {
    position: fixed;
    z-index: 1000;
    bottom: 0px;
    right: 0px;
}

.model-dialog {
    width: 350px;
}

.negative {
    color: #FC5382;
}

.positive {
    color: #02CCBA;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.chart-title {
    text-align: center;
    font-size: 15px;
    line-height: 15px;
}

.transactions-btn {
    margin-top: 20px;
}

div.google-visualization-tooltip {
    pointer-events: none
}

svg > g > g:last-child {
    pointer-events: none
}
