<form name="accountForm">
    <md-dialog-content class="md-padding">
        <div layout layout-sm="column">
            <span ng-show="error">{{ error }}</span>
        </div>
        <div layout layout-sm="column" ng-repeat="field in model.fields" class="model-form-field">
            <model-form-field field="field" item="item"></model-form-field>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <div class="md-dialog-actions" layout="row"><span flex></span>
            <md-button ng-click="cancelCallback()" ng-show="cancelCallback">
                Cancel
            </md-button>
            <md-button class="md-primary"
                       ng-click="save(account)"
                       type="submit"
                       ng-disabled="accountForm.$invalid">
                Save
            </md-button>
        </div>
    </md-dialog-actions>
</form>

<button ng-click="ssss = !ssss">F</button>
<pre ng-show="ssss">
    {{model | json}}
</pre>
