<form name="accountForm">
    <md-dialog-content class="md-padding">
        <div layout layout-sm="column">
            <span ng-show="error">{{ error }}</span>
        </div>
        <div layout layout-sm="column" ng-repeat="field in model.fields" ng-if="field.type != 'AutoField'">
            <md-input-container flex>
                <model-form-field field="field"></model-form-field>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <div class="md-dialog-actions" layout="row"><span flex></span>
            <md-button ng-click="hide()">Cancel</md-button>
            <md-button class="md-primary"
                       ng-click="save(account)"
                       type="submit"
                       ng-disabled="accountForm.$invalid">
                Save
            </md-button>
        </div>
    </md-dialog-actions>
</form>


<pre>
    {{model | json}}
</pre>
