<div>
    <div flex layout="row">
        <md-card ng-hide="!user" class="account-card" ng-click="modelDialog.show($event, {model: 'treasurer.Account'})">
            <md-card-title>
                <md-card-title-text>
                    <md-icon>add</md-icon>
                    <span ng-show="!accounts.length">Add account</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card ng-repeat="account in accounts" md-theme="default" class="account-card" ng-click="modelDialog.show($event, {model: 'treasurer.Account'}, account.id)">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" ng-class="{negative: account.total < account.limit}">{{ account.total }}</span>
                    <span class="md-subhead">{{ account.name }}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div flex layout="row">
        <div flex="30" layout="column" class="transactions-list" ng-show="transactions.length">
            <md-card ng-repeat="transaction in transactions | limitTo: 10" md-theme="default" class="transaction-card"
                     ng-click="modelDialog.show($event, {model: 'treasurer.Transaction'}, transaction.id)">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-class="{positive: transaction.total > 0}">{{ transaction.total }}</span>
                        <span class="md-subhead dim">{{ transaction.account_name }}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <span class="md-subhead">{{ transaction.category_name }}</span>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
        </div>
        <div id="treasurer-chart" flex="70" layout="column" class="statistic"></div>
    </div>
    <div class="fab-fixed">
        <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="modelDialog.show($event, {model: 'treasurer.Transaction'})"
                   ng-hide="!accounts.length">
            <md-icon>add</md-icon>
        </md-button>
    </div>
</div>
